<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.LotteryBetRecordMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.entity.LotteryBetRecord">
        <id column="id" property="id" />
        <result column="balls" property="balls" />
        <result column="gameid" property="gameid" />
        <result column="is_jd" property="isJd" />
        <result column="is_run_stop" property="isRunStop" />
        <result column="jiangjin" property="jiangjin" />
        <result column="js_time" property="jsTime" />
        <result column="kj_balls" property="kjBalls" />
        <result column="peilv" property="peilv" />
        <result column="per_price" property="perPrice" />
        <result column="qishu" property="qishu" />
        <result column="status" property="status" />
        <result column="tz_time" property="tzTime" />
        <result column="username" property="username" />
        <result column="wanfa" property="wanfa" />
        <result column="win" property="win" />
        <result column="xiangqing" property="xiangqing" />
        <result column="zhudan" property="zhudan" />
        <result column="zhudan_id" property="zhudanId" />
        <result column="zhushu" property="zhushu" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, balls, gameid, is_jd, is_run_stop, jiangjin, js_time, kj_balls, peilv, per_price, qishu, status, tz_time, username, wanfa, win, xiangqing, zhudan, zhudan_id, zhushu
    </sql>

</mapper>
